<!DOCTYPE html>
<html lang="en">
<head>
  <title>HocTrucTuyen.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="http://r55.cooltext.com/rendered/cooltext208574534250327.png">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="...">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Trang Chu</a></li>
                <li><a href="#">Huong Dan</a></li>
                <li><a href="#">Dang Nhap</a></li>
                <li class="active"><a href="#">Dang Ky</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="https://pixabay.com/static/uploads/photo/2016/03/27/18/51/flower-1283600_1280.jpg" width="100%">
      </div>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary">Mon Hoc</button>
      <button type="button" class="btn btn-primary">Giang Vien</button>
      <button type="button" class="btn btn-primary">Khoa Hoc</button>
      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Thanh Vien Online
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Nguyen Van A</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Tran Thanh Ha</a></li>
      </ul>
    </div>
    </div>
    <div class="container">
      <h2>Dang Ky</h2>
      <ul class="pagination">
        <li class="active"><a href="#">Hoc Vien</a></li>
        <li><a href="#">Giang Vien</a></li>
      </ul>
      <html><head>
    <title>Bootstrap 3 Form Layout Multiple Horizontal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" rel="stylesheet">

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
    
<style>
legend {
  color: #fff;
}
.form-control:focus {
  border-color: #fddbab;
  outline: 0; 
  -webkit-box-shadow: inset 0;
      box-shadow: inset 0;
  background-color: #fddbab;
}
.has-error .help-block {
  position:absolute;
  bottom: 10px;
  left: 80px;
  z-index: 20;  
  border: 1px #EEA236 solid;
  background-color: #f6cd94;
  line-height: 2em;
  padding: 1px 12px;
  border-radius: 4px 4px 4px 10px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.difposhelpblock .has-feedback .form-control-feedback {
  top: 0px;
  right: 165px;
  display: none !important;
}
.difposhelpblock .has-error .help-block {
  position: absolute;
  left: 160px;
}
</style>

</head>
<body>
<div class="container">
<form class="form-horizontal bv-form" id="form_members" role="form" action="send_formdata_members_v2.php" method="POST" novalidate="novalidate">
<legend>Person</legend>
<div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">Họ</label>
    <div class="col-sm-4 has-feedback has-error">
      <input type="text" class="form-control" name="firstname" id="firstname" placeholder="tên đầu" data-bv-field="firstname"><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="firstname" style="top: 0px;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="firstname" data-bv-result="INVALID" style="">A First Name is mandatory</small><small class="help-block" data-bv-validator="regexp" data-bv-for="firstname" data-bv-result="VALID" style="display: none;">Alphabetical characters, hyphens and spaces</small></div>
    <label for="lastname" class="col-sm-2 control-label">Tên</label>
    <div class="col-sm-4 has-feedback has-error">
      <input type="text" class="form-control" name="lastname" id="lastname" placeholder="tên cuối" data-bv-field="lastname"><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="lastname" style="top: 0px;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="lastname" data-bv-result="INVALID" style="">A Last Name is required</small><small class="help-block" data-bv-validator="regexp" data-bv-for="lastname" data-bv-result="VALID" style="display: none;">Alphabetical characters, hyphens and spaces</small></div>
</div>
<div class="form-group difposhelpblock">
    <label for="gender" class="col-sm-2 control-label">Giới tính</label>
    <div class="col-sm-4 has-feedback has-error">
        <label class="radio-inline">
        <input type="radio" name="gender" id="male" value="male" data-bv-field="gender">Nam
        </label>
        <label class="radio-inline">
        <input type="radio" name="gender" id="female" value="female" data-bv-field="gender"> Nữ
        </label><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="gender" style="display: inline;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="gender" data-bv-result="INVALID" style="">A choice is required</small></div>
    <label for="dob" class="col-sm-2 control-label">Ngày tháng năm sinh</label>
    <div class="col-sm-4 has-feedback has-error">
        <input type="date" class="form-control" name="dob" id="dob" placeholder="mm/dd/yyyy" data-bv-field="dob"><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="dob" style="top: 0px; display: inline;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="dob" data-bv-result="INVALID" style="">A Date of Birth is required</small></div>
</div>
<legend>Địa chỉ</legend>
<div class="form-group">
    <label for="address" class="col-sm-2 control-label">Địa chỉ</label>
    <div class="col-sm-4 has-feedback has-error">
        <input type="text" class="form-control" name="address" id="address" placeholder="đường + số nhà" data-bv-field="address"><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="address" style="top: 0px;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="address" data-bv-result="INVALID" style="">A Streetname and Number is required</small></div>
    
    <label for="city" class="col-sm-2 control-label">Thành phố</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" list="cities" name="city" id="city" placeholder="Thành phố">
    <datalist id="cities">
        <option value="Hải phòng">
        </option><option value="hồ chí minh">
        </option><option value="vũng tàu">
        </option><option value="Tây ninh">
    </option></datalist>
    </div>
</div>

<legend>Thông tin liên lạc</legend>
<div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Số điện thoại</label>
    <div class="col-sm-4">
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Số điện thoại">
    </div>
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4 has-feedback has-error">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-bv-field="email"><i class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="email" style="top: 0px;"></i>
    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="INVALID" style="">An Email Address is required</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="VALID" style="display: none;">This is not a valid email address</small></div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning" name="submitted" id="submitted" disabled="disabled">Submit</button>
    </div>
<legend>Phần riêng</legend>
  <form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Không thao tác</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>  
  </fieldset>
</form>

</form>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
<script>
$('#form_members').bootstrapValidator({
message: "This value is not valid",
feedbackIcons: {
    valid: 'glyphicon glyphicon-ok',
    invalid: 'glyphicon glyphicon-remove',
    validating: 'glyphicon glyphicon-refresh'
  },
fields: {
    firstname: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A First Name is mandatory'
              }, // notEmpty
            regexp: {
                        regexp: /^[A-Za-z\s.'-]+$/,
                        message: "Alphabetical characters, hyphens and spaces"
                    }
            } // validators
          },  // firstname
    lastname: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A Last Name is required'
              }, // notEmpty
            regexp: {
                        regexp: /^[A-Za-z\s.'-]+$/,
                        message: "Alphabetical characters, hyphens and spaces"
                    }
            } // validators
          },  // lastname
    gender: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A choice is required'
              } // notEmpty
            } // validators
          },  // gender           
    dob: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A Date of Birth is required'
              } // notEmpty
            } // validators
          },  // dob            
    address: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A Streetname and Number is required'
              } // notEmpty
            } // validators
          },  // address            
    email: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'An Email Address is required'
              }, // notEmpty
        emailAddress: {
          message: 'This is not a valid email address'
        }     
            } // validators
          },  // email
    zipcode: {
      group: '.col-sm-4',
      validators: {
        notEmpty: {
          message: 'A Zip Code is required'
              }, // notEmpty          
        zipCode: {
          country: 'IT',
          message: "This is not a valid Zip Code"
             }
            }
        }                     
    } // fields
});
</script>

  

</body></html>
    </div>
  </div>
</body>
</html>